body {
    text-align: center;
    color: white;
    background-image: url(images/background.jpg);
    font-size: 38px;
    font-family: arial;
}

h2 {
    font-family: 'brush script mt';
    color: black;
    font-size: 42px;
    background: red;
    /* border: 3px solid red; */
    margin-left: 42%;
    margin-right: 42%;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: 0px;
    /* border: 3px solid black; */
}

a {
    color: red;
    font-size: 24px;
    text-decoration: none;
}

.transparent {
    color: transparent;
}

.transbox {
    background: black;
    border-radius: 14px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    opacity: 0.9;
    border: 2px solid rgb(255, 0, 0);
}

.transbox input[type="text"], input[type="password"] {
    margin-top: -30px;
    height: 40px;
    width: 400px;
    font-size: 24px;
    background: transparent;
    border: none;
    border-bottom: 1px solid red;
    outline: none;
    color: grey;
}

.title {
    font-family: papyrus;
    font-size: 28px;

    background: rgb(250, 247, 178);
    color: red;

    border-radius: 30px;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-top-style: dotted;
    border-right-style: dotted;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;

    margin-left: -10px;
    margin-right: 60px;
    transition: background 0.5s;
}

.title:hover {
    background:rgb(180, 180, 120);
}

.transbox input[type="submit"] {
    border-radius: 12px;
    background: green;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    font-family: serif;
}

.transbox input[type="submit"]:hover {
    background: darkgreen;
}