img {
    width: 1200px;
    height: 500px;
    border-radius: 60px;
    margin-bottom: 30px;
}

head {
    outline: none;
    border: none;
}

body {
    background: black;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size:30px;
}

h2 {
    color: rgb(0, 255, 76);
    text-align: left;
    font-style: bold;
    margin-left: 180px;
}

h3 {
    color: rgb(0, 255, 76);
    text-align: center;
    font-style: none;
    margin-top: 80px;
    font-family: papyrus, 'brush script mt';
    font-size: 80px;
}

h4 {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 10px;
    margin-left: 240px;
    font-family: sans-serif, 'brush script mt';
    font-size: 30px;
}

li {
    color: rgb(0, 247, 255);
    text-align: left;
    margin-left: 200px;
    font-size: 40px;
}

a {
    color: rgb(208, 209, 183);
    font-size: 75%;
    background: rgb(0, 0, 0);
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: sans-serif;
    border-radius: 12px;
    margin-left: -12px;
    margin-right: -12px;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: rgb(117, 117, 117);
}

p {
    color: white;
    padding: 8px, 6px;
}

em {
    color: transparent;
}

marquee {
    background: black;
    padding: 14px;
    border-radius: 18px;
    border: 4px solid grey;
    color: rgb(173, 255, 181);
    margin: 80px;
    font-family: algerian;
    margin-bottom: -42px;
    margin-top: -40px;
}

.slogan input {
    background: lightgrey;
    opacity: 0.6;
    color: black;
    border-radius: 10px;
    width: 45%;
    height: 48px;
    font-size: 24px;
    padding-left: 12px;
    margin-bottom: 20px;
}

.slogan input[type="submit"] {
    width: 8%;
    opacity: 0.5;
    background: black;
    color: white;
    border-radius: 18px;
    transition: background 0.3s;
}

.slogan input[type="submit"]:hover {
    background: rgb(12, 108, 60);
}

.title {
    font-family: papyrus;
    font-size: 28px;

    background:radial-gradient(rgb(209, 208, 149), rgb(172, 170, 121));
    color: red;
    
    border-radius: 30px;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-top-style: dotted;
    border-right-style: dotted;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;

    margin-left: -10px;
    margin-right: 60px;
    transition: background 0.5s;
}

.title:hover {
    background: radial-gradient(rgb(250, 247, 178), rgb(161, 160, 114));
    color: red;
}

.jump_to_top {
    background-image: radial-gradient(rgb(76, 76, 76), rgb(76, 76, 76), black, rgb(0, 0, 0));
    color: rgb(183, 183, 183);
    font-size: 30px;
}

.jump_to_top:hover {
    color: rgb(173, 96, 204);
}

.search_button {
    background: rgb(0, 125, 8);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 30px;
    width: 20%;
    height: 60px;
    margin-top: -60px;
    margin-bottom: -40px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 12px;
}

.category {
    background: purple;
    padding: 2%;
    font-size: 160%;
}

div.background {
    background: linear-gradient(rgb(120, 54, 10), rgb(0, 0, 0));
    margin-top: -36px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10px;
}

div.transbox {
    margin: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: black;
    opacity: 0.75;
}

div.slogan {
    background-image: linear-gradient(rgb(115, 115, 115), rgb(82, 82, 82), rgb(120, 54, 10));
    color:rgb(255, 126, 221);
    font-family: 'brush script mt';
    font-size: 60px;
    width:101.2%;
    margin-left: -10px;
    margin-top: -40px;
    margin-bottom: -30px;
    padding-bottom: 10px;
    padding-top: -60px;
    transition: color 0.6s;
}

div.slogan:hover {
    color:rgb(250, 75, 204);
}

div.footer {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding: 60px 0 20px;
}

div.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.app h4 {
    margin-left: 0px;
}

div.app p {
    color: rgb(95, 95, 95);
    font-size: 24px;
}

div.socials h4 {
    margin-left: 20px;
}

div.socials li {
    margin-left: -20px;
    color: rgb(95, 95, 95);
    font-size: 24px;
    padding-bottom: 10px;
    margin-left: -4px;
}

div.main strong {
    margin-left: -10px;
}

div.main p{
    margin-left: -60px;
    color:rgb(255, 126, 221);
    font-family: 'brush script mt';
    font-size: 36px;
}

#header {
    background-image: linear-gradient(rgb(53, 53, 53), rgb(115, 115, 115));
    padding-top: 20px;
    width:101.2%;
    margin-left: -10px;
    margin-top: -10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}